* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    color: var(--text-color);
    background-color: var(--cards-background);
}

.darkMode {
    --cards-background: rgb(24, 24, 24);
    --text-color: white;
    --body-background: rgb(0, 0, 0);
    --blury-background: rgba(0, 0, 0, 0.109);
}

:root {
    /* --primary-color: #15b946; */
    /* --scroll-primary-colors: #14b84580; */
    --primary-color: #736255;
    --scroll-primary-colors: #73625599;
    --blury-background: rgba(255, 255, 255, 0.109);
    --body-background: white;
    --cards-background: #eee;
    --text-color: black;
    --transition: 0.2s ease;
    --border-raduis: 50px;
}

::-webkit-scrollbar {
    background-color: var(--scroll-primary-colors);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

path,
svg,
ellipse {
    transition: var(--transition);
}

.ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100vw;
    height: 100px;
    background-color: var(--body-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    border-bottom: 3px solid var(--primary-color);
    z-index: 2;
}

.header>* {
    background-color: transparent;
}

header.active {
    position: absolute;
}

.headerSettingsBar {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    padding: 0;
    margin: 0;
}

.headerSettingsBar>* {
    width: 100%;
    height: 50px;
}

.logo {
    width: 90px;
    height: 90px;
    position: relative;
    left: 5%;
    border-radius: 50%;
    cursor: pointer;
}

.headerSettingsBar>li {
    display: flex;
}

.headerSettingsBar>.currency {
    display: none;
}

h2 {
    color: var(--primary-color) !important;
}

.svg {
    width: 100%;
    height: 100%;
    stroke: var(--primary-color);
    cursor: pointer;
    transition: var(--transition);
}

.svg:hover {
    stroke: var(--text-color);
}

.account {
    position: relative;
}

.sign {
    width: fit-content;
    height: 0;
    background-color: var(--cards-background);
    color: var(--primary-color);
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    border: 0 solid var(--primary-color);
    overflow: hidden;
    transition: var(--transition);
}

.sign.active {
    height: fit-content;
    border-width: 3px;
}

.sign>* {
    font-size: 18px;
    padding: 10px 20px;
    min-width: 100px;
    white-space: nowrap;
    cursor: pointer;
    transition: var(--transition);
}

.sign>*:hover {
    background-color: var(--primary-color);
    color: white;
}

.signOut {
    display: none;
}

.signOut.active {
    display: flex !important;
}

select {
    border: 3px solid transparent;
    color: var(--primary-color);
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: var(--transition);
    background-color: var(--cards-background);
}

select:hover {
    color: black;
}

.appearence {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.theme {
    width: 50px;
    height: 50px;
    stroke: var(--primary-color);
    stroke-width: 2px;
    display: none;
}

.theme.active {
    display: block;
}


.theme:hover {
    stroke: var(--text-color);
}

.container {
    width: 100vw;
    height: fit-content;
    position: absolute;
    left: 0;
    top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px repeat(6, auto);
    gap: 0;
    padding: 20px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    text-decoration: underline;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.content>ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 100%;
    padding: 0;
    margin: 0;
}

footer {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer>* {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 70%;
}

footer>*>ul {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: white;
    padding: 0;
    font-size: 18px;
}

footer>* {
    position: relative;
}

.paymentMethods>ul {
    position: relative;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 33% 33% 33%;
    column-gap: 5%;
    row-gap: 10%;
    justify-items: flex-start;
    align-items: flex-end;
    justify-content: flex-start;
    place-items: center;
    margin-bottom: 0;
}

footer>*>.ttl {
    width: 100%;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
}

.payM {
    width: 50px;
}

.currency {
    display: none;
    position: absolute;
}

.bought {
    min-width: 300px;
    max-width: 90vw;
    height: 50px;
    background-color: var(--cards-background);
    position: fixed;
    left: 20px;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
    transform: translateY(20px);
    opacity: 0;
    transition: var(--transition);
    z-index: 10;
}

.bought.active {
    transform: translateY(0);
    opacity: 1;
}

.boughtLogo {
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    background-image: url(https://i.ibb.co/mJJygNS/Apex-Array.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.boughtText {
    margin-left: 15px;
    max-width: calc(100% - 50px);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.highlight {
    font-weight: 600;
}

@media (min-width: 320px) and (max-width: 650px) {
    .headerSettingsBar {
        width: 60%;
    }

    .currency {
        display: none;
        position: absolute;
    }

    .title {
        font-size: 25px;
    }

    footer {
        flex-direction: column;
    }

    footer>* {
        width: 80%;
        height: 27%;
    }

    .ttl {
        text-decoration: underline;
    }

    .bought {
        font-size: 12px;
        bottom: 50px;
        height: 65px;
        max-width: 100vw;
        width: 98vw;
        left: 1vw;
    }

    .boughtLogo {
        max-width: 65px;
        min-width: 65px;
        height: 65px;
    }

    .boughtText {
        flex-wrap: wrap;
        transform: translateX(5px);
        margin: 0;
    }

    .boughtText>* {
        display: flex;
        text-wrap: pretty;
        margin: 0;
        padding: 0;
    }
}